:root {
  font-family: 'AlagardFont';
  line-height: 1.5;
  font-weight: 400;

  color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'AlagardFont';
  src: url('./assets/fonts/alagard-12px-unicode.ttf') format('truetype');
}

body {
  margin: 0;
  display: flex;
  background-color: black;
}

body, a, button, button:hover {
  cursor: url('./assets/cursor/icons8-sword-32.png'), auto;
}

hr {
  margin: 0;
}

img {
  width: 20px;
  height: 20px;
  margin: 6px;
}

p {
  margin: 0;
}

button {
  width: 200px;
  background-color: black;
  font-family: 'AlagardFont';
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  
  box-shadow: 
    -2px -2px 0 0 white,
    -2px 2px 0 0 white,
    2px -2px 0 0 white,
    2px 2px 0 0 white;
}

button:hover {
  background-color: white;
  color: black;
}

input {
  width: 200px;
  background-color: black;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'AlagardFont';
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
  box-shadow: 
    -2px -2px 0 0 white,
    -2px 2px 0 0 white,
    2px -2px 0 0 white,
    2px 2px 0 0 white;
    
  box-sizing: border-box;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
